:root{
    --primary-color: coral;
    --secondary-color: chocolate;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar ul {
    list-style: none;
}

#nav-bar ul li {
    color: #333333;
    display: inline-block;
    padding: 1rem;
    position: relative;
}

#nav-bar ul li a {
    color: #333333;
    text-decoration: none;
}

/* Hide Nested UL By default */
#nav-bar ul li ul {
    display: none;
}

#nav-bar ul li:hover{
    cursor: pointer;
    background: var(--primary-color);
    color: white;
}

#nav-bar ul li:hover a{
    color: white;
}

/* Nested Ul To Show */
#nav-bar ul li:hover ul {
    display: block;
    position: absolute;
    left:0;
    width: 200px;
    margin-top: 1rem;
}

#nav-bar ul li:hover ul li{
    display: block;
    background: #e7e7e7;
}

#nav-bar ul li:hover ul li a{
    color: #333333;
}

#nav-bar ul li:hover ul li:hover{
    background: #e0e0e0;
    color: inherit;
}

#nav-bar ul li:hover ul li span{
    float: right;
    color: #ffffff;
    background: var(--primary-color);
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
}

#nav-bar ul li:hover ul li:hover span{
    background: var(--secondary-color);
}

#showcase {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
}

#showcase h1 {
    color: white;
    font-size: 4rem;
}

@media(max-width: 600px){
    #nav-bar ul li {
        display: block;
    }

    #nav-bar ul li:hover ul{ 
        width: 100%;
        position: relative;
    }
}

